:root {
    --color1: hsl(var(--hue-color), 69%, 61%);
    --color2: #fff;
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
}

body {
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color1);
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
}

.back-btn a {
    font-size: 18px;
    color: var(--color2);
    font-weight: 400;
}


.form {
    padding: 25px;
    background: var(--first-color-second);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.eng {
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}

.uz {
    padding-bottom: 20px;
}

.contact__label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.form .input,
textarea {
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 3px;
}

textarea {
    height: 200px;
}

.send {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 3px;
    font-weight: var(--font-medium);
    border: none;
    outline: none;
    cursor: pointer;
    width: 90%;
}

.send:hover {
    background-color: var(--first-color-alt);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}



.danger{
    display: none;
    color: red;
}
.success{
    display: none;
    color: green;
}

